@page "/"
@using SkillSnap.Client.Shared

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new 

@* Below is just for testing the components so they show up as they should *@

<p>Blazor components test:</p>
<ProfileCard />
<hr />
<ProjectList />
<hr />
<SkillTags />